body{
    background-color: #2c3e50;
   
}

#time{
    text-align: center;
    margin: 250px 300px 0px 300px;
}

#btn-container{
    text-align: center;
    margin: 40px 350px 50px 350px;
}

#conatainer{
    color:#d7dfe4
}

.digit{
    font-size: 150px;
    font-weight: bold;
}

.txt{
    font-size: 40px;
    font-weight: bold;

}

.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    border:0px;
    cursor: pointer;
    color:white;
}

#start{
    background-color: #1abc92;

}

#stop{
    background-color: #3498db;
    
}

#reset{
    background-color: #e74c3c;
    
}